body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
flex-direction: row;
flex:auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
header{
    background-color: aquamarine;
}
header ul li{
    float: left;
}
body{
background-color: beige;
}
footer{
    background-color:#d6f6f5;
}